binds {
	XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
	XF86AudioStop allow-when-locked=true { spawn-sh "playerctl stop"; }
	XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
	XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }
}
