binds {
	Mod+XF86AudioRaiseVolume allow-when-locked=true { spawn "swayosd-client" "--input-volume" "raise"; }
	Mod+XF86AudioLowerVolume allow-when-locked=true { spawn "swayosd-client" "--input-volume" "lower"; }
	Mod+XF86AudioMute allow-when-locked=true { spawn "swayosd-client" "--input-volume" "mute-toggle"; }
}
